<header>
    <div id="bars">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
      </div>
      <div id="nav-bar">
        
        <form action="/users/profile" method="get">
            <input type="Submit" value="profile">
        </form>
        <form action="/" method="get">
            <input type="Submit" value="home">
        </form>
        <form action="/users/post_item" method="get">
            <input type="Submit" value="post items">
        </form>
        <form action="/users/signin" method="get">
            <input type="Submit" value="Sign in">
        </form>
        <form action="/users/signup" method="get">
            <input type="Submit" value="Sign up">
        </form>
        <form action="/users/out" method="post">
    <input type="Submit" value="Sign out">
</form>
      </div>
    <section id="naming">
        Benemart
    </section>
    <div class="user_login">
        <form action="/users/signin" method="get">
                <input type="Submit" value="Sign in">
        </form>
        <form action="/users/signup" method="get">
                <input type="Submit" value="Sign up">
        </form>
    </div>
    
    
</header>
<div id="eff"></div>
<script src="/js/header.js"></script>
