<header>
    <section id="naming">
        Benemart
    </section>
    <div class="user_login">
        <form action="/users/signin" method="get">
                <input type="Submit" value="Sign in">
        </form>
        <form action="/users/signup" method="get">
                <input type="Submit" value="Sign up">
        </form>
        
    </div>
    
</header>