<header>
    <section id="naming">
        Benemart
    </section>
    <div class="user_login">
        <div class="but" onclick="gosign">
            Sign in
        </div>
        <div class="but">
            Sign up
        </div>
    </div>
    
</header>