<%for(var i of items){%>            
    <li>             
        <div  style="display: flex; align-items: center; justify-content: space-around;">
          <span ><%=i.id%></span>
          <!-- <span><%=i.user.name%></span> -->
        </div>             
        
  </li>           
  <%}%>  