<html >
  <head>
    <title>landing_page</title>
    <script
      src="https://kit.fontawesome.com/4f9d871909.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <div id="image_logo">
          <div>
            Benemart
          </div>
    </div>
    

    <script src="/js/landing.js"></script>
  </body>
</html>