<html>
  <head>
    <title>landing_page</title>
    <link rel="stylesheet" href="/css/landing.css" />
    <script
      src="https://kit.fontawesome.com/4f9d871909.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="image_logo">
      <div>Benemart</div>
    </div>

    <div id="process">
      <div class="box">
        <i class="fa-regular fa-square-check fa-6x"></i>
        <h2>1. Choose your favourite products</h2>
        <p>
          Choose the prduct that you would like to buy on best discounts on
          benemart dfnk kfrjng eekrfdnj
        </p>
      </div>
      <div class="box">
        <i class="fa-solid fa-cart-plus fa-6x"></i>
        <h2>2. Add product to your cart and place order</h2>
        <p>
          Simply click on add to cart button. product will be visible to the cart and you can simply place order from there 
        </p>
      </div>
      <div class="box">
        <i class="fa-solid fa-truck fa-6x"></i>
        <h2>3. Product successfully delivered at home</h2>
        <p>
          Your product will be safely delivered to your home with our delivery patner bkart.com for mor info you can track your order
        </p>
      </div>
    </div>
    <div id="Company">
      <i class="fa-sharp fa-solid fa-mosquito fa-5x"></i>
      <i class="fa fa-angellist fa-5x"></i>
      <i class="fa fa-apple fa-5x"></i>
      <i class="fa fa-behance fa-5x"></i>
      <i class="fa fa-bitcoin fa-5x"></i>
      <i class="fa fa-digg fa-5x"></i>
    </div>

    <script src="/js/landing.js"></script>
  </body>
</html>
