<html >
  <head>
    <title>landing_page</title>
    <link rel="stylesheet" href="/css/landing.css" />
    <script src="https://kit.fontawesome.com/4f9d871909.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="image_logo">
          <div>
            Benemart
          </div>
    </div>
    
    <div id="process">
        <div class="box">
          <i class="fa-regular fa-shield-check"></i>
        </div>
        <div class="box">
           
        </div>
        <div class="box">
           
        </div>
    </div>

    

    <script src="/js/landing.js"></script>

  </body>
</html>