<div id="post_items">
<form action="/users/item_post" method="post">
    <label >Enter Id</label>
    <input type="text" name="id" placeholder="Enter id"  />
    <label >Enter Company</label>
    <input type="text" name="company" placeholder="Enter company of product"  />
    <label >Enter off on product</label>
    <input type="text" name="off" placeholder="How much off offering"  />
    <label >Enter Title</label>
    <input type="text" name="title" placeholder="Enter title"  />
    <label >Enter Price</label>
    <input type="text" name="price" placeholder="Enter price"  />
    <label >Enter Description</label>
    <input type="text" name="desc" placeholder="Enter description"  />
    <label >Enter Category</label>
    <input type="text" name="category" placeholder="Enter category"  />
    <label >Enter Image</label>
    <input type="text" name="image" placeholder="Enter image url"  />
    <label >Enter Count</label>
    <input type="text" name="count" placeholder="Enter number of products"  />
    <label >Enter Size</label>
    <input type="text" name="size" placeholder="Enter size available"  />
    <input type="submit" value="Submit item" style="margin-top: 8px;" id="submit_form">
</form>
</div>