<div id="post_items">
  <% if(locals.user){%>
  <form action="/users/item_post" method="post">
    <div id="side_form">
      <label>Enter Id</label>
      <input type="text" name="id" placeholder="Enter id" />
      <label>Enter Company</label>
      <input type="text" name="company" placeholder="Enter company of product"/>
      <label>Enter off on product</label>
      <input type="text" name="off" placeholder="How much off offering" />
      <label>Enter Title</label>
      <input type="text" name="title" placeholder="Enter title" />
      <label>Enter Price</label>
      <input type="text" name="price" placeholder="Enter price" />
      <label>Enter Description</label>
      <input type="text" name="desc" placeholder="Enter description" />
      <label>Enter Category</label>
      <input type="text" name="category" placeholder="Enter category" />
    </div>
    <div id="files">
    <label>Enter Image</label>
    <input type="text" name="image1" placeholder="Enter image url"  autocomplete="off"/>
    <input type="text" name="image2" placeholder="Enter image url" autocomplete="off"/>
    <input type="text" name="image3" placeholder="Enter image url" autocomplete="off"/>
    <input type="text" name="image4" placeholder="Enter image url" autocomplete="off"/>
    </div>
    <label>Enter Count</label>
    <input type="text" name="count" placeholder="Enter number of products" autocomplete="off"/>
    <label>Enter Size</label>
    <input type="text" name="size" placeholder="Enter size available" autocomplete="off"/>
    <input
      type="submit"
      value="Submit item"
      style="margin-top: 8px"
      id="submit_form"
    />
  </form>

  <%}%>
</div>
