<div class="login-box">
  <h2>Sign in</h2>
  <form action="/users/create_session" method="post" autocomplete="off">
    <div class="user-box">
        <label>User email</label>
        <div class="input_user">
      <input type="email" name="email" placeholder="Enter email"  />
      <i class="fa-solid fa-user " style="color:#ffffff"></i>
       </div>
    </div>
    <div class="user-box">
        <label >Passward</label>
        <div class="input_user">
      <input type="password" name="password" placeholder="Enter password" />
      <i class="fa-solid fa-lock" style="color:#ffffff"></i>
    </div>
    </div>
    <div class="button-form">
    <input type="Submit" value="Sign In" id="submit" />
    <!-- <div id="register">
        Don't have and account ?
        <form action="/users/signup" method="get">
            <input type="Submit" value="Register" id="reg">
        </form>
    </div> -->
    </div>
  </form>
</div>
