




<div id="search_bar">
    <input type="text" placeholder="Search for products brands and more">
</div>
<div id="content">
  
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>
  <div class="product">
    <img
      src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg"
      alt="img not found"
    />
    <div class="det">
      <div class="company">Tom</div>
      <div class="desc">Men Regular Fit Printed Spread Collar Casual Shirt</div>
      <div class="price">
        <span class="price_curr">&#8377;234</span>
        <div class="pr_old">
          <span class="price_old">&#8377;1500</span>
          <div class="line"></div>
        </div>
        <span class="off">75% off</span>
      </div>
      <div class="stock">Available</div>
      <div class="size"><span class="size_span">Size</span> S,M,K,XL</div>
    </div>
  </div>

  <!-- <form action="/users/out" method="post">
    <input type="Submit" value="Sign out">
</form> -->
</div>
