header{
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#naming{
    height: 40px;
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    margin-left: 20px;
    font-weight: 800;
}
.user_login{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}

.but{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(236,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.but:hover{
    cursor: pointer;
    color: black;
}