:root {
    --bl: rgb(54,134,255);
  --bl2:rgb(88,151,255);
  --gr:rgb(59,214,202);
  --grey:rgb(135,135,135);
  --green:rgb(77,152,79);
  }
body{
    background-color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;

}
::selection {
    opacity: 0;
  }

:root {
    --bl: rgb(54,134,255);
    --bl2:rgb(88,151,255);
}
#image_logo{
    height: 60vh;
    background-image: url(../images/fruits.jpg);
    background-size:cover;
    font-size: 15rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */

}
#image_logo div{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    mix-blend-mode:screen;
}
#process{
    position: absolute;
    bottom: 80px;
    /* border: 1px solid black; */
    height: 250px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bl);
}
.box{
    /* border: 1px solid black; */
    height: 250px;
    width: 300px;
    padding:4px;
    margin: 10px;
    color: var(--bl);
}
.box h2{
    color: black;
    font-size: 1rem;
}
.box p{
    color: var(--grey);
}
.ico{
    height: 20px;
    width: 30px;
    color: var(--bl);
    border:1px solid black;
}
#Company{
    /* border: 1px solid black; */
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    height: 100px;
    width: 60%;
    position:absolute;
    bottom:-70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Company i{
    margin-right: 40px;
}



